/* Це наш головний контейнер тепер, він вирішує:
   - відступи від краю екрану
   - фон
   - max-width
   - приховати sidebar */

.container {
  display: block;
  padding: 16px;
  max-width: 375px;
  margin: 0 auto;
  box-sizing: border-box;
}

.sidebar {
  display: none;
  background-color: #2c2c2c;
  color: #f5f5f5;
  padding: 0;
  border-right: 1px solid #ddd;
  border-radius: 8px;
}

.notesWrapper {
  max-width: 100%;
  box-sizing: border-box;
  padding-bottom: 16px;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;
    min-height: 100vh;
    padding: 10px 10px;
  }

  .sidebar {
    display: block;
  }

  .notesWrapper {
    flex: 1;
    max-width: 100%;
    padding: 0 0 0 16px;
  }
}
